.container {
    align-content: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.navigation-container {
    margin: 5rem;
    width: 25%;
}

.links-list {
    border-bottom: 1px solid rgb(230, 230, 230);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-item {
    border-top: 1px solid rgb(230, 230, 230);
    padding: 1rem 0;
}

.navigation-item a {
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navigation-item:hover a {
    color: rgba(0, 0, 0, 1);
    transform: translateX(0.2rem);
}

.documentation-container {
    width: 75%;
}

.doc-element {
    margin: 5rem;
}

.doc-info-container {
    align-items: center;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 0.5rem;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 40px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.doc-example {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(210, 210, 210);
    box-sizing: border-box;
    height: 100%;
    padding: 2rem 0 2rem 0;
    width: 100%;
}

.doc-example-button {
    background-color: rgb(83, 141, 250);
    border: 3px solid rgb(54, 109, 214);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.doc-example-button:hover {
    background-color: rgb(61, 124, 242);
    border: 3px solid rgb(40, 91, 189);
    transform: scale(1.05);
}

.doc-example-button:active {
    transform: translateY(0.15rem) scale(1.05);
}

.doc-code {
    margin: -1rem 0 -1rem 0;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.doc-code pre code {
    max-height: 40rem;
    background-color: rgb(245, 245, 245);
    border-radius: 0 0 0.5rem 0.5rem;
}