@import "generalCSS.css";

.container {
    align-content: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
}

.navigation-container {
    margin: 3rem 5rem;
    width: 25%;
    position: fixed;
    overflow-x: hidden;
}

.links-list {
    border-bottom: 1px solid var(--light-white);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-item {
    border-top: 1px solid var(--light-white);
    padding: 1rem 0;
}

.navigation-item a {
    color: var(--black);
    opacity: 0.4;
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navigation-item:hover a {
    opacity: 1;
    transform: translateX(0.4rem);
}

.active {
    opacity: 1 !important;
    padding-left: 0.4rem !important;
}

.documentation-container {
    width: 75%;
    margin-left: 30%;
}

.doc-element {
    margin: 5rem;
    scroll-margin-top: 7rem;
}

.doc-info-container {
    align-items: center;
    border: 1px solid var(--lighter-gray);
    border-radius: 0.5rem;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 40px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.doc-example {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--lighter-gray);
    box-sizing: border-box;
    height: 100%;
    padding: 2rem 0 2rem 0;
    width: 100%;
}

.doc-example-button {
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    font-size: 1.2rem;
    padding: 0.7rem 1rem;
    transition: all 0.2s ease-in-out;
}

.doc-example-button:active {
    transform: translateY(0.2rem);
}

.doc-code {
    margin: -1rem 0 -1rem 0;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.doc-code pre code {
    max-height: 40rem;
    background-color: var(--lighter-white);
    border-radius: 0 0 0.5rem 0.5rem;
}