.footer-container {
    align-items: center;
    background-color: var(--lighter-white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
}

.footer-info {
    color: var(--dark-gray);
}