:root {
    --white: #ffffff;
    --lighter-white: rgb(245, 245, 245);
    --light-white: rgb(230, 230, 230);
    --lighter-gray: rgb(210, 210, 210);
    --light-gray: #c4c4c4;
    --gray: #888888;
    --dark-gray: #545454;
    --black: #000000;

    --lighter-blue: rgb(83, 141, 250);
    --light-blue: rgb(61, 124, 242);
    --blue: rgb(40, 72, 255);
    --light-red: rgb(227, 65, 65);
    --red: rgb(201, 48, 48);
    --light-green: rgb(50, 196, 52);
    --green: rgb(43, 178, 45);
    --light-yellow: rgb(227, 222, 63);
    --yellow: rgb(201, 196, 33);
}

.bg-light-blue {
    background-color: var(--lighter-blue);
}

.bg-light-blue:hover {
    background-color: var(--light-blue);
}

.bg-red {
    background-color: var(--light-red);
}

.bg-red:hover {
    background-color: var(--red);
}

.bg-green {
    background-color: var(--light-green);
}

.bg-green:hover {
    background-color: var(--green);
}

.bg-yellow {
    background-color: var(--light-yellow);
}

.bg-yellow:hover {
    background-color: var(--yellow);
}

.modal {
    display: none;
    height: 100vh;
    left: 0;
    pointer-events: none; /* de-activate pointer events so we can exit by clicking the shadow */
    position: fixed;
    top: -20rem;
    width: 100vw;
    z-index: 20;
}

.modal-dialog {
    background-color: var(--white);
    border-radius: 0.3rem;

    height: auto;
    left: 50%;
    padding: 0 1rem;
    pointer-events: visible; /* Re-activate pointer events so we can click modal */
    position: relative;
    top: 10%;
    transform: translate(-50%, -10%);
    width: 40vw;
}

.modal-header-container {
    align-content: center;
    border-bottom: 1px solid var(--light-gray);
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.modal-content-container {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    max-height: 30rem;
}

.modal-content-container .modal-text {
    overflow-y: auto;
}

.modal-footer-container {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.modal-title {
    flex-grow: 1;
}

.modal-header-container button {
    background: none;
    border: none;
    box-shadow: none;
    color: var(--gray);
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.modal-header-container button:hover {
    background: none;
    color: var(--dark-gray);
    border: none;
}

.modal-header-container button:active {
    transform: translateY(0.15rem);
}

.modal-text {
    border-bottom: 1px solid var(--light-gray);
    flex-grow: 1;
    padding-bottom: 1rem;
}

.modal-button {
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    margin: 0 0.5rem 1rem 0;
    transition: all 0.2s ease-in-out;
}

.modal-button:active {
    transform: translateY(0.2rem);
}

.modal-shadow {
    background-color: var(--black);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 15;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

@keyframes modalTopDown {
    0% {
        top: -40rem;
    }

    100% {
        top: 0;
    }
}

@keyframes modalTopFadeIn {
    0% {
        top: 0;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes modalTopFadeOut {
    0% {
        top: 0;
        opacity: 1;
    }

    100% {
        top: 0;
        opacity: 0;
    }
}

@keyframes modalMiddleDown {
    0% {
        top: -40rem;
    }

    100% {
        top: 10rem;
    }
}

@keyframes modalMiddleFadeIn {
    0% {
        top: 10rem;
        opacity: 0;
    }

    100% {
        top: 10rem;
        opacity: 1;
    }
}

@keyframes modalMiddleFadeOut {
    0% {
        top: 10rem;
        opacity: 1;
    }

    100% {
        top: 10rem;
        opacity: 0;
    }
}

@keyframes modalTopUp {
    0% {
        top: 0;
    }

    100% {
        top: -40rem;
    }
}

@keyframes modalMiddleUp {
    0% {
        top: 10rem;
    }

    100% {
        top: -40rem;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.modal.modal-animation-in {
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    display: block;
}

.modal[data-position="top"].modal-animation-in[data-animation-in="down"] {
    animation-name: modalTopDown;
}

.modal[data-position="top"].modal-animation-in[data-animation-in="fade"] {
    animation-name: modalTopFadeIn;
}

.modal[data-position="middle"].modal-animation-in[data-animation-in="down"] {
    animation-name: modalMiddleDown;
}

.modal[data-position="middle"].modal-animation-in[data-animation-in="fade"] {
    animation-name: modalMiddleFadeIn;
}

.modal[data-position="top"].show {
    top: 0;
}

.modal[data-position="middle"].show {
    top: 10rem;
}

.modal.modal-animation-out {
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    display: block;
}

.modal[data-position="top"].modal-animation-out[data-animation-out="up"] {
    animation-name: modalTopUp;
}

.modal[data-position="top"].modal-animation-out[data-animation-out="fade"] {
    animation-name: modalTopFadeOut;
}

.modal[data-position="middle"].modal-animation-out[data-animation-out="up"] {
    animation-name: modalMiddleUp;
}

.modal[data-position="middle"].modal-animation-out[data-animation-out="fade"] {
    animation-name: modalMiddleFadeOut;
}

.modal-shadow.fade-in {
    animation-name: fadeIn;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    display: block;
}

.modal-shadow.show {
    opacity: 0.5;
}

.modal-shadow.fade-out {
    animation-name: fadeOut;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    display: block;
}