.modal {
    display: none;
    height: 100vh;
    left: 0;
    pointer-events: none; /* de-activate pointer events so we can exit by clicking the shadow */
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20;
}

.modal-dialog {
    background-color: #ffffff;
    border: 1px solid #5d5d5d;
    border-radius: 0.3rem;

    height: auto;
    left: 50%;
    padding: 0 1rem;
    pointer-events: visible; /* Re-activate pointer events so we can click modal */
    position: relative;
    top: 10%;
    transform: translate(-50%, -10%);
    width: 40vw;
}

.modal-header-container {
    align-content: center;
    border-bottom: 1px solid #c4c4c4;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.modal-content-container {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.modal-footer-container {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.modal-title {
    flex-grow: 1;
}

.modal-header-container button {
    background: none;
    border: none;
    box-shadow: none;
    color: #888888;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.modal-header-container button:hover {
    background: none;
    color: #545454;
    border: none;
}

.modal-header-container button:active {
    transform: translateY(0.15rem);
}

.modal-text {
    border-bottom: 1px solid #c4c4c4;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.modal-button {
    background-color: rgb(83, 141, 250);
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    margin: 0 0.5rem 1rem 0;
    transition: all 0.2s ease-in-out;
}

.modal-button:hover {
    background-color: rgb(61, 124, 242);
}

.modal-button:active {
    transform: translateY(0.15rem);
}

.modal-shadow {
    background-color: rgba(11, 11, 11, 0.5);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 15;
}

.show {
    display: block;
}

.hidden {
    display: none;
}