.modal {
    display: none;
    height: 100vh;
    left: 0;
    pointer-events: none; /* de-activate pointer events so we can exit by clicking the shadow */
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

.modal-dialog {
    background-color: #ffffff;
    border: 1px solid #111111;
    border-radius: 24px;
    height: 80vh;
    left: 50%;
    padding: 2rem;
    pointer-events: visible; /* Re-activate pointer events so we can click modal */
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
}

.modal-shadow {
    background-color: rgba(11, 11, 11, 0.6);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 5;
}

.show {
    display: block;
}

.hidden {
    display: none;
}