.navbar-container {
    align-items: center;
    background-color: rgb(83, 141, 250);
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 3rem;
    padding-top: 0.2rem;
}

.navbar-tab {
    color: rgb(245, 245, 245);
    font-size: 1.2rem;
    margin: 1rem;
}

.navbar-tab > a:link,
.navbar-tab > a:visited {
    color: rgb(245, 245, 245);
    text-decoration: none;
}

.navbar-tab > .slider {
    background-color: rgb(40, 72, 255);
    height: 1px;
    left: 0;
    margin-top: 0.2rem;
    top: 100%;
    transform: translateX(0);
    transition: all 0.2s ease;
    width: 0;
}

.navbar-tab.tab-active > a,
.navbar-tab.tab-active > .slider,
.navbar-tab.tab-active:hover > .slider {
    font-weight: bold;
}

.navbar-tab:hover > .slider {
    transform: translateX(0.5rem);
    width: 80%;
}